{% extends 'includes/layout.html' %}


{% block body %}
{{ ckeditor.load() }}
<main class="container">
  <div class="bg-light p-5 rounded mt-5 ">
    <h1> Content Generator ️</h1>
    <p class="lead">
    This is perfect for people who wants to generate  content that is created by AI technology.
    </p>

    <h2>Enter the Content that you want to generate</h2>
    
    
    <form class="" action="/content-generator" method="post">

      <div class='row mb-5 "btn-group"'> 
        <div class="row">
          
            <h6 class='col-lg-auto  mt-2 mb-2 '>Select Language</h6>
            <div class = "col-auto  mt-2 mb-2" >
              <select name='language' class='form-select'>
                <option value='60c4eb424660040013ca8a9f' {% if language_input =='60c4eb424660040013ca8a9f' %} selected {% endif %} >Arabic</option>
                <option value= '607adac76f8fe5000c1e636d' {% if language_input == '607adac76f8fe5000c1e636d' %} selected {% endif %} >US-English </option>
                <option value='60eddd5676319d000c81dfc5' {% if language_input == '60eddd5676319d000c81dfc5' %} selected {% endif %}>Bulgarian</option>
                <option value='607adb7b6f8fe5000c1e6375' {% if language_input =='607adb7b6f8fe5000c1e6375'  %} selected {% endif %} >French</option>
                <option value='607ae6531208a9000cb1141c' {% if language_input == '607ae6531208a9000cb1141c' %} selected {% endif %}>Chinese (S)</option>
                <option value='60f853a39bb0df0013c6a588' {% if language_input == '60f853a39bb0df0013c6a588' %} selected {% endif %}>Chinese (T)</option>
                <option value='60d014e9d6e910001341493a' {% if language_input == '60d014e9d6e910001341493a' %} selected {% endif %}>Czech</option>
                <option value='60c653b4bca5d4000cc679e3'{% if language_input == '60c653b4bca5d4000cc679e3' %} selected {% endif %}>Danish</option>
                <option value='607adbdf6f8fe5000c1e6378' {% if language_input =='607adbdf6f8fe5000c1e6378' %} selected {% endif %}>Dutch</option>
                <option value='60ebc3e06f90af000c8b15f3' {% if language_input == '60ebc3e06f90af000c8b15f3' %} selected {% endif %}>Farsi</option>
                <option value='6159af6d56a355691567ec9d' {% if language_input == '6159af6d56a355691567ec9d' %} selected {% endif %}>Filipino</option>
                <option value='60c65338bca5d4000cc679dd' {% if language_input == '60c65338bca5d4000cc679dd' %} selected {% endif %}>Finnish</option>
                <option value='607adb536f8fe5000c1e6374' {% if language_input == '607adb536f8fe5000c1e6374' %} selected {% endif %}>German</option>
                <option value='607adc966f8fe5000c1e637d' {% if language_input == '607adc966f8fe5000c1e637d' %} selected {% endif %}>Greek</option>
                <option value='607c7c211ebe15000cbbc7b8' {% if language_input == '607c7c211ebe15000cbbc7b8' %} selected {% endif %}>Hebrew</option>
                <option value='60ce30891d63cb0013838dfb' {% if language_input == '60ce30891d63cb0013838dfb' %} selected {% endif %}>Hindi</option>
                <option value='6102aa33280cab000c673c2f' {% if language_input == '6102aa33280cab000c673c2f' %} selected {% endif %}>Hungarian</option>
                <option value='607adb7b6f8fe5000c1e6375' {% if language_input == '607adb7b6f8fe5000c1e6375' %} selected {% endif %}>French</option>
                <option value='6094f9b4addddd000c04c94b' {% if language_input == '6094f9b4addddd000c04c94b'  %} selected {% endif %}>Indonesian</option>
                <option value='607adb996f8fe5000c1e6376' {% if language_input == '607adb996f8fe5000c1e6376' %} selected {% endif %}>Italian</option>
                <option value='607adc3d6f8fe5000c1e637b' {% if language_input == '607adc3d6f8fe5000c1e637b'  %} selected {% endif %}>Japanese</option>
                <option value='607adc716f8fe5000c1e637c' {% if language_input == '607adc716f8fe5000c1e637c' %} selected {% endif %}>Korean</option>
                <option value='6198d279d3a709c29634bb26'{% if language_input == '6198d279d3a709c29634bb26'%} selected {% endif %}>Lithuanian</option>
                <option value='60ef33e9c218d0000c2eb058' {% if language_input == '60ef33e9c218d0000c2eb058'  %} selected {% endif %}>Malay</option>
                <option value='607db96c182478000c9ac2d9' {% if language_input == '607db96c182478000c9ac2d9'%} selected {% endif %}>Norwegian</option>
                <option value='607adc056f8fe5000c1e6379' {% if language_input == '607adc056f8fe5000c1e6379' %} selected {% endif %}>Polish</option>
                <option value='607adbb56f8fe5000c1e6377' {% if language_input ==  '607adbb56f8fe5000c1e6377' %} selected {% endif %}>Portuguese</option>
                <option value='609fdbec6cc23d000c7c5e84' {% if language_input == '609fdbec6cc23d000c7c5e84' %} selected {% endif %}>Romanian</option>
                <option value='607adc2f6f8fe5000c1e637a' {% if language_input == '607adc2f6f8fe5000c1e637a' %} selected {% endif %}>Russian</option>
                <option value='614a2cc9c1babef3e4008d48' {% if language_input == '614a2cc9c1babef3e4008d48'  %} selected {% endif %}>Slovak</option>
                <option value='63309f451a3a1324049f8fac' {% if language_input ==  '63309f451a3a1324049f8fac' %} selected {% endif %}>Slovenian</option>
                <option value= '607adad66f8fe5000c1e636e' {% if language_input == '607adad66f8fe5000c1e636e'  %} selected {% endif %}>Spanish</option>
                <option value='6081b157f580d2000c1baf2c' {% if language_input == '6081b157f580d2000c1baf2c' %} selected {% endif %}>Swedish</option>
                <option value='607c7bec1ebe15000cbbc7b7' {% if language_input == '607c7bec1ebe15000cbbc7b7' %} selected {% endif %}>Thai</option>
                <option value='60a4c3d60b2ef9000ce86d01' {% if language_input == '60a4c3d60b2ef9000ce86d01' %} selected {% endif %}>Turkish</option>
                <option value= '633c17ed746d4421d9656837' {% if language_input == '633c17ed746d4421d9656837' %} selected {% endif %}>Ukrainian</option>
                <option value='60c65522bca5d4000cc679fa' {% if language_input == '60c65522bca5d4000cc679fa'%} selected {% endif %}>Vietnamese</option>
               
              </select>  
            </div> 
        
           
          
            <h6 class='col-auto  mt-2 mb-2 offset-1' >Select Tone</h6>
            <div class = "col-auto mt-2 mb-2" >
              <select name='toneId' class='form-select'>
                <option value='6058207530f7b1000c1c4f86' {% if toneId_input == '6058207530f7b1000c1c4f86'%} selected {% endif %} >Appreciative </option>
                <option value='6058209c30f7b1000c1c4f88' {% if toneId_input == '6058209c30f7b1000c1c4f88'%} selected {% endif %}>Assertive</option>
                <option value='6058223630f7b1000c1c4f96' {% if toneId_input == '6058223630f7b1000c1c4f96'%} selected {% endif %}>Awestruck</option>
                <option value='605820c030f7b1000c1c4f89' {% if toneId_input == '605820c030f7b1000c1c4f89'%} selected {% endif %}>Candid </option>
                <option value='60572a639bdd4272b8fe358a' {% if toneId_input == '60572a639bdd4272b8fe358a'%} selected {% endif %} >Casual </option>
                <option value='605820d430f7b1000c1c4f8a' {% if toneId_input == '605820d430f7b1000c1c4f8a' %} selected {% endif %} >Cautionary</option>
                <option value='605820e330f7b1000c1c4f8b' {% if toneId_input == '605820e330f7b1000c1c4f8b' %} selected {% endif %}>Compassionate </option>
                <option value= '60572a639bdd4272b8fe358b' {% if toneId_input == '60572a639bdd4272b8fe358b'%} selected {% endif %} >Convincing</option>
                <option value='60e96f6992161b0013c6ae4a' {% if toneId_input == '60e96f6992161b0013c6ae4a' %} selected {% endif %}>Critical</option>
                <option value='6058212830f7b1000c1c4f8d' {% if toneId_input == '6058212830f7b1000c1c4f8d'%} selected {% endif %} >Earnest</option>
                <option value='6058213830f7b1000c1c4f8e' {% if toneId_input == '6058213830f7b1000c1c4f8e' %} selected {% endif %}>Enthusiastic </option>
                <option value='6058200830f7b1000c1c4f85' {% if toneId_input == '6058200830f7b1000c1c4f85' %} selected {% endif %}>Formal</option>
                <option value='60572a649bdd4272b8fe358c' {% if toneId_input ==  '60572a649bdd4272b8fe358c' %} selected {% endif %}>Funny</option>
                <option value='6058215930f7b1000c1c4f8f'{% if toneId_input == '6058215930f7b1000c1c4f8f' %} selected {% endif %}>Humble</option>
                <option value='6058216730f7b1000c1c4f90' {% if toneId_input == '6058216730f7b1000c1c4f90' %} selected {% endif %}>Humorous</option>
                <option value='60ff8d3afc873e000c08e8b2' {% if toneId_input == '60ff8d3afc873e000c08e8b2'  %} selected {% endif %}>Informative </option>
                <option value='6064c6679bde74000cea994c' {% if toneId_input == '6064c6679bde74000cea994c' %} selected {% endif %}>Inspirational </option>
                <option value='6058219030f7b1000c1c4f92' {% if toneId_input ==  '6058219030f7b1000c1c4f92' %} selected {% endif %}>Joyful </option>
                <option value='6058208730f7b1000c1c4f87' {% if toneId_input ==  '6058208730f7b1000c1c4f87'%} selected {% endif %}>Passionate</option>
                <option value='605821c030f7b1000c1c4f93' {% if toneId_input == '605821c030f7b1000c1c4f93' %} selected {% endif %}>Thoughtful</option>
                <option value= '605821cc30f7b1000c1c4f94' {% if toneId_input == '605821cc30f7b1000c1c4f94'  %} selected {% endif %}>Urgent</option>
                <option value='605821e030f7b1000c1c4f95' {% if toneId_input == '605821e030f7b1000c1c4f95' %} selected {% endif %} >Worried</option>
                
                
              </select>  
             
            </div>

           <div class= col-8 >

            <h6 class='col-6  mt-2 mb-2 '>Select Content Type</h6>
            <div class = "col-auto  mt-2 mb-2" >
              <select name='ContentType' class='form-select'>
                <option value= '60a40cf5da9d76000ccc2828' {% if  useCaseIdMagicCommand == '60a40cf5da9d76000ccc2828'  %} selected {% endif %} >Blog Idea & Outline</option>
                <option value= '60584cf2c2cdaa000c2a7954'  {% if  useCaseIdMagicCommand == '60584cf2c2cdaa000c2a7954'  %} selected {% endif %} >Blog Section Writing</option>
                <option value='61e0224822cc129b33031a80'  {% if  useCaseIdMagicCommand == '61e0224822cc129b33031a80'  %} selected {% endif %}>Brand Name</option>
                <option value='6062df03e20e7d000c15609b' {% if  useCaseIdMagicCommand == '6062df03e20e7d000c15609b'  %} selected {% endif %}> Business Idea Pitch</option>
                <option value='61e1167527174a50fdcb55e3' {% if  useCaseIdMagicCommand == '61e1167527174a50fdcb55e3'  %} selected {% endif %}>Business Ideas</option>
                <option value= '61e01c2d5b9c5f0d9d795319' {% if  useCaseIdMagicCommand == '61e01c2d5b9c5f0d9d795319'  %} selected {% endif %}>Call To Action</option>
                <option value='60d19b16d63485000cab8c15' {% if  useCaseIdMagicCommand == '60d19b16d63485000cab8c15'  %} selected {% endif %}>Copywriting Framework: AIDA</option>
                <option value='60d1ac3e548c6b000c8fce5b' {% if  useCaseIdMagicCommand == '60d1ac3e548c6b000c8fce5b'  %} selected {% endif %}>Copywriting Framework: PAS</option>
                <option value='630dcc0f18bdda26b7d415b4' {% if  useCaseIdMagicCommand == '630dcc0f18bdda26b7d415b4'  %} selected {% endif %} > Cover Letter</option>
                <option value='60572a629bdd4272b8fe3588' {% if  useCaseIdMagicCommand == '60572a629bdd4272b8fe3588'  %} selected {% endif %}> Email</option>
                <option value= '60572a629bdd4272b8fe3585' {% if  useCaseIdMagicCommand == '60572a629bdd4272b8fe3585'  %} selected {% endif %} >Facebook, Twitter, LinkedIn Ads</option>
                <option value='6163f3445bb5990332c018b1' {% if  useCaseIdMagicCommand == '6163f3445bb5990332c018b1'  %} selected {% endif %}>Google Search Ads</option>
                <option value='6058693ccdebbb000c210588' {% if  useCaseIdMagicCommand == '6058693ccdebbb000c210588'  %} selected {% endif %}>Interview Questions</option>
                <option value='60586b31cdebbb000c21058d' {% if  useCaseIdMagicCommand == '60586b31cdebbb000c21058d'  %} selected {% endif %} > Job Description</option>
                <option value='62ff712ba30cbb98deef0b7d' {% if  useCaseIdMagicCommand == '62ff712ba30cbb98deef0b7d'  %} selected {% endif %} >Keywords Extractor</option>
                <option value= '62ff6dd6a30cbb98deed9fdc' {% if  useCaseIdMagicCommand == '62ff6dd6a30cbb98deed9fdc'  %} selected {% endif %}>Keywords Generator</option>
                <option value='605835258c0a4a000c69c962'  {% if  useCaseIdMagicCommand == '605835258c0a4a000c69c962'   %} selected {% endif %}>Landing Page & Website Copies</option>
                <option value='60ed7113732a5b000cf99e8e' {% if  useCaseIdMagicCommand == '60ed7113732a5b000cf99e8e'  %} selected {% endif %}>Magic Comman'</option>
                <option value='6062d819be972a000c6a05a3' {% if  useCaseIdMagicCommand == '6062d819be972a000c6a05a3'  %} selected {% endif %}>Post & Caption Ideas</option>
                <option value='605832f78c0a4a000c69c960'{% if  useCaseIdMagicCommand == '605832f78c0a4a000c69c960'  %} selected {% endif %} > Product Description</option>
                <option value='60bb65ca12ba07000cdc8f64' {% if  useCaseIdMagicCommand == '60bb65ca12ba07000cdc8f64'  %} selected {% endif %}> Product Description (bullet points)</option>
                <option value='60633095de064b000c8f5cc8' {% if  useCaseIdMagicCommand == '60633095de064b000c8f5cc8'  %} selected {% endif %}>Profile Bio</option>
                <option value='611e2a98045b460ef10242ce' {% if  useCaseIdMagicCommand == '611e2a98045b460ef10242ce'  %} selected {% endif %}>Question & Answer</option>
                <option value='611e40d404b47fc3a2297a37' {% if  useCaseIdMagicCommand == '611e40d404b47fc3a2297a37'  %} selected {% endif %} >Reply to Reviews & Messages</option>
                <option value='60583ac98c0a4a000c69c96f' {% if  useCaseIdMagicCommand == '60583ac98c0a4a000c69c96f'  %} selected {% endif %} >SEO Meta Description</option>
                <option value='60583a058c0a4a000c69c96d' {% if  useCaseIdMagicCommand == '60583a058c0a4a000c69c96d'  %} selected {% endif %} >SEO Meta Title</option>
                <option value='6163fe7b1d5d06c1e9693346' {% if  useCaseIdMagicCommand == '6163fe7b1d5d06c1e9693346'  %} selected {% endif %}>SMS & Notifications</option>
                <option value='60e6f4316ab0b5000c848c51' {% if  useCaseIdMagicCommand == '60e6f4316ab0b5000c848c51'  %} selected {% endif %}>Song Lyrics</option>
                <option value='60cdad891d63cb00138240d3' {% if  useCaseIdMagicCommand =='60cdad891d63cb00138240d3'  %} selected {% endif %}>Story Plot</option>
                <option value='605838118c0a4a000c69c968' {% if  useCaseIdMagicCommand == '605838118c0a4a000c69c968'  %} selected {% endif %}>Tagline & Headline</option>
                <option value='607c7ae91ebe15000cbbc7af' {% if  useCaseIdMagicCommand == '607c7ae91ebe15000cbbc7af'  %} selected {% endif %}>Testimonial & Review</option>
                <option value= '6092917aa9c7620013304f43'{% if  useCaseIdMagicCommand == '6092917aa9c7620013304f43'  %} selected {% endif %} >Text Editing: Append Content</option>
                <option value='6223abf9ea8eb61e65b4e691' {% if  useCaseIdMagicCommand == '6223abf9ea8eb61e65b4e691'  %} selected {% endif %}>'Text Editing: Continue Writing</option>
                <option value='60928e45a9c7620013304f11' {% if  useCaseIdMagicCommand == '60928e45a9c7620013304f11'  %} selected {% endif %}>Text Editing: Expand Content</option>
                <option value='60cdd8b61d63cb001382a390' {% if  useCaseIdMagicCommand == '60cdd8b61d63cb001382a390'  %} selected {% endif %}>Text Editing: Improve Content</option>
                <option value=  '60b877a110f2fb000cb004eb' {% if  useCaseIdMagicCommand =='60b877a110f2fb000cb004eb'  %} selected {% endif %}>Text Editing: Paragraph Content</option>
                <option value='60928476a9c7620013304e89' {% if  useCaseIdMagicCommand == '60928476a9c7620013304e89'  %} selected {% endif %}>Text Editing:Reword</option>
                <option value= '60928752a9c7620013304ea1' {% if  useCaseIdMagicCommand == '60928752a9c7620013304ea1'  %} selected {% endif %}>Text Editing: Shorten Content</option>
                <option value='605856eec2cdaa000c2a7965'{% if  useCaseIdMagicCommand == '605856eec2cdaa000c2a7965'  %} selected {% endif %}>Video Channel Description</option>
                <option value='6058536ec2cdaa000c2a795e'  {% if  useCaseIdMagicCommand == '6058536ec2cdaa000c2a795e'  %} selected {% endif %}>Video Description</option>
                <option value='60584ffdc2cdaa000c2a7957' {% if  useCaseIdMagicCommand == '60584ffdc2cdaa000c2a7957'  %} selected {% endif %}>Video Idea</option>
                
               
              </select>  
            </div> 
          </div>

        
        

      <div class="mb-3  mt-2 col-md-8 " >
        <label class="form-label" for='contentgenerator'>Key Points</label>
        <input type="text" class="form-control " name="contentgenerator" placeholder="eg. Hi , My Name is Jack">
        <div class="form-text">Writing Specific Key Points will help AI to generate better recommendation </div>
      </div>
      <div class= 'col-8'>
      <button type="submit" class="btn btn-outline-success btn-lg"> GET RECOMMENDATIONS</button>
    </div>
    </form>
  </div>


  <div class="p-3 rounded ">
    <div class="row">
      <div class="col-lg-12">
        <h3 class="text-primary">{{prompt}}</h3>
        <p class="lead">  {{ ckeditor.create(value=openAIAnswer|safe) }}</p>
                           
          
      </div>
    </div>
  </div>

 
</main>
{% endblock %}
